<div class="row" ng-mouseup="mouseUp()">
    <tabset class="col-md-8 well well-sm theTabs">
        <tab heading="Justified">
            <div>
                <div class="row">
                    <div ng-repeat="x in exercises" class="col-md-4 well well-sm exTab">
                        <div ng-mousedown='mouseDown(x)'>
                            <img ng-src="{{x.img}}" class="col-md-4" style="padding:0px;" ng-click="addExercise(x)">
                            <div class=" col-md-8">
                                <div class="col-md-4" style="padding:0px;">Name</div><br>
                                <div class="col-md-12" style="padding:0px;">{{x.name}}</div>
                            </div>
                            <div class="col-md-12" style="background-color: #7a3fa8">
                                <span class="col-md-3">{{x.weightBand}}</span>
                                <span class="col-md-3">Reps</span>
                                <span class="col-md-3">Sets</span>
                                <span class="col-md-3">Hold</span>
                            </div>
                            <div class="col-md-12">
                                <span class="col-md-3">{{x.lbsColor}}</span>
                                <span class="col-md-3">{{x.reps}}</span>
                                <span class="col-md-3">{{x.sets}}</span>
                                <span class="col-md-3">Hold</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Injury Related">

        </tab>
        <tab heading="All">

        </tab>
        <input type="text"><a class="glyphicon glyphicon-search"></a>
    </tabset>
    <tabset class="col-md-3 col-md-offset-1 well well-sm theTabs">
        <tab heading="Assigned" id="current">
            <div>
                <div ng-repeat="x in addedExercise | reverse" class="col-md-12 well well-sm aexTab">
                    <img ng-src="{{x.img}}" class="col-md-4" style="padding:0px;">
                    <div class=" col-md-8">
                        <div class="col-md-4" style="padding:0px;">Name</div><br>
                        <div class="col-md-12" style="padding:0px;">{{x.name}}</div>
                    </div>
                    <div class="col-md-12" style="background-color: #7a3fa8">
                        <span class="col-md-3">Band</span>
                        <span class="col-md-3">Reps</span>
                        <span class="col-md-3">Sets</span>
                        <span class="col-md-3">Hold</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3">{{x.lbsColor}}</span>
                        <span class="col-md-3">{{x.reps}}</span>
                        <span class="col-md-3">{{x.sets}}</span>
                        <span class="col-md-3">Hold</span>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Completed">
            <div ng-repeat="x in weeklyExercise">
                <p>{{x.name}}</p>
            </div>
        </tab>
    </tabset>
</div>