<nav class="navbar navbar-default navbar-static" role="navigation">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding:0px; margin:0px">
            <img src="./img/A1.png" height="40px" style="padding:0px; margin:0px">
        </a>
    </div>
    <div class="nav navbar-nav navbar-right btn-group" dropdown is-open="status.isopen">
        <a class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>
</nav>
  <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page" style="margin: 15px">
    <div class="cardflow-card" ng-repeat="card in cards track by $index" ng-click="coverClick(card, $index)" style="background-image: url( {{card.attributes.img}} );">
      {{ card.title }}
    </div>
  </cardflow>
  <div class="row">
    <div class="col-md-4">
      <button ng-click="cardflowSnapPage.current=cardflowSnapPage.current-cardflowSnapPage.pageSize"
              class="btn btn-circle btn-lg btn-default btn-left"
              ng-disabled="cardflowSnapPage.current <= 0"
          >
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
    </div>
    <div class="title  col-md-4">
      <h2 style="color: white; text-align: center; padding-bottom: 15px"> Your Exercises</h2>
    </div>
    <div class="col-md-4">
      <button ng-click="cardflowSnapPage.current=cardflowSnapPage.current+cardflowSnapPage.pageSize"
              ng-disabled="cardflowSnapPage.current >= (cards.length-cardflowSnapPage.pageSize)"
              class="btn btn-circle btn-lg btn-default pull-right btn-right">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div google-chart chart="chartObject"></div>
  </div>