.navbar-form.inNav{
	margin-top:25px;
}
.panel-heading{
	background-color: #f5f5f5;
}
.topRow{
	margin-top: 80px;
}
.dropdown-menu.item > li {
  z-index: 1001;
}
.addToTabs{
    padding-left: 0;
    padding-right: 0;
    padding-top: 12;
    padding-bottom: 12;
}
.theTabs{
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}
.exTab{

}
.aexTab{

}
@media only screen and (min-device-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar:vertical {
        width: 15px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }
}